@model Your_Money.Models.Usuario

@{
    ViewData["Title"] = "Criar Usuário";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<body style="background-image: url(/blue1.png);">

<h2 style="color:darkblue">Criar Usuário</h2>
<hr>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="createForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Nome" class="control-label"></label></b>
                    <input asp-for="Nome" class="form-control shadow-sm" required />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Email" class="control-label"></label></b>
                    <input asp-for="Email" class="form-control shadow-sm" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="Senha" class="control-label"></label></b>
                    <div class="input-group">
                        <input asp-for="Senha" id="Senha" class="form-control shadow-sm" type="password" required minlength="6"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="toggleSenha" onclick="togglePasswordVisibility('Senha')">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                        <p style="font-size:6px;color:gray;">6 caracteres com pelo menos 1 letra maiúscula, 1 letra minúscula e 1 número.</p>
                    </div>
                    <span asp-validation-for="Senha" class="text-danger"></span>
                    <span id="senhaError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b style="color:darkblue"><label asp-for="ConfirmarSenha" class="control-label"></label></b>
                    <div class="input-group">
                        <input asp-for="ConfirmarSenha" id="ConfirmarSenha" class="form-control shadow-sm" type="password" required minlength="6" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="toggleConfirmarSenha" onclick="togglePasswordVisibility('ConfirmarSenha')">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
                    <span id="confirmarSenhaError" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
                        <button type="submit" class="btn btn-primary" id="submitBtn">Salvar</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Deseja confirmar a criação do usuário?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirmUser" onclick="confirmUserCreation()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function validarCampos() {
            var nome = document.getElementById('Nome').value;
            var email = document.getElementById('Email').value;

            document.getElementById('nomeError').textContent = '';
            document.getElementById('emailError').textContent = '';

            if (nome.trim() === '') {
                document.getElementById('nomeError').textContent = "O campo Nome é obrigatório.";
                return false;
            }

            if (email.trim() === '') {
                document.getElementById('emailError').textContent = "O campo Email é obrigatório.";
                return false;
            }

            return true;
        }

        function validarSenha() {
            var senha = document.getElementById('Senha').value;
            var confirmarSenha = document.getElementById('ConfirmarSenha').value;

            document.getElementById('senhaError').textContent = '';
            document.getElementById('confirmarSenhaError').textContent = '';

            if (senha.length !== 6) {
                document.getElementById('senhaError').textContent = "A senha deve ter 6 caracteres.";
                return false;
            }

            var uppercaseRegex = /[A-Z]/;
            var lowercaseRegex = /[a-z]/;
            var digitRegex = /[0-9]/;

            if (!uppercaseRegex.test(senha) || !lowercaseRegex.test(senha) || !digitRegex.test(senha)) {
                document.getElementById('senhaError').textContent = "A senha deve conter pelo menos 1 letra maiúscula, 1 letra minúscula e 1 número.";
                return false;
            }

            if (senha !== confirmarSenha) {
                document.getElementById('confirmarSenhaError').textContent = "A senha e a confirmação de senha não são iguais.";
                return false;
            }

            return true;
        }

        function togglePasswordVisibility(inputId) {
            var input = document.getElementById(inputId);
            var button = document.getElementById('toggle' + inputId);

            if (input.type === 'password') {
                input.type = 'text';
                button.innerHTML = '<i class="fa fa-eye-slash"></i>';
            } else {
                input.type = 'password';
                button.innerHTML = '<i class="fa fa-eye"></i>';
            }
        }

        function confirmUserCreation() {
            document.getElementById('createForm').submit();
        }

        document.getElementById('submitBtn').addEventListener('click', function () {
            if (validarCampos() && validarSenha()) {
                document.getElementById('createForm').submit();
            }
        });

    </script>

</body>
