@model IEnumerable<Your_Money.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}
<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Minha Conta</li>
    </ol>
</nav>

<h2 style="color:darkblue;">Minha Conta</h2>
<hr>

<div class="container-fluid p-2">
    <div class="row">

        <div class="col m-1">

             <div class="card align-items-center">
                <img src="~/user.png" alt="usuário" width="70%" style="padding-top:10%;">
                <div class="card-body">
                    <p id="NameUser" class="card-text">@User.Identity.Name</p>
                </div>
                ------------------
                @foreach(var item in Model)
                {
                    <div class="p-3 pb-5">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </div>
                }
            </div>
        </div>
        <div class="col-3 m-1 text-center">
            <div class="card">
                <div class="card-body" style="background-color:lightgreen">
                <b style="color:green">Receitas</b>
            </div>
                <div class="pt-5 pb-5" style="color:green">
                    <h1><b>R$ 1.000,00</b></h1>
                    <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/revenue.png" width="40%" style="padding-top: 1rem">
                </div>
            </div>
        </div>
        <div class="col-3 m-1 text-center">
            <div class="card">
                <div class="card-body" style="background-color:indianred">
            <b style="color:white">Despesas</b>
                </div>
                <div class="pt-5 pb-5" style="color:darkred">
                    <h1><b>R$ 500,00</b></h1>
                    <img onclick="location=HTMLHRElement='Lancamentos/Create'" src="~/expense.png" width="40%" style="padding-top: 1rem">
                </div>
            </div>
        </div>
        <div class="col-3 m-1 text-center">
            <div class="card">
                <div class="card-body" style="background-color:whitesmoke">
            <b style="color:black">Saldo</b>
                </div>
                <div class="pt-5 pb-5" style="color:darkslategray">
                    <h1><b>R$ 500,00</b></h1>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2 style="color:darkblue;">Receitas x Despesas</h2>
<div>
<canvas id="grafico1" style="width: 500px;"></canvas>
</div>


<h2 style="color:darkblue;padding-top:50px;"> Detalhamento das Despesas </h2>
<div>
    <canvas id="grafico2" style="width:200px;"></canvas>
</div>

<script>
    var dadosGrafico1 = {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        datasets: [
            {
                label: 'Receitas',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1,
            },
            {
                label: 'Despesa',
                data: [10, 15, 5, 2, 5, 1],
                borderWidth: 1,
            }]
    };
    var dadosGrafico2 = {
        labels: ['Alimentação',
            'Veículo',
            'Salário',
            'Moradia',
            'Transporte',
            'Empréstimos',
            'Entretenimento',
            'Impostos',
            'Taxas',
            'Saúde'],
        datasets: [
            {
                data: [100, 200, 150, 300, 250, 138, 780, 98, 654, 345],
                borderWidth:1,
                backgroundColor: ['rgb(255, 99, 132)',
                'rgb(75, 192, 192)',
                'rgb(255, 205, 86)',
                'rgb(201, 203, 207)',
                    'rgb(876, 203, 207)',
                    'rgb(201, 340, 207)',
                    'rgb(201, 203, 549)',
                    'rgb(451, 203, 870)',
                    'rgb(201, 203, 100)',
                'rgb(54, 162, 235)']
            },
        ],
    };
    var opcoes = {
        responsive: true,
        maintainAspectRatio: false,
    };
    var grafico1 = new Chart(document.getElementById("grafico1"), {
        type: "bar",
        data: dadosGrafico1,
        options: opcoes,
    });
    var grafico2 = new Chart(document.getElementById("grafico2"), {
        type: "bar",
        data: dadosGrafico2,
        
    });
</script>



