@{
    ViewData["Title"] = "Dicas";
}
<h1 style="color:darkblue">@ViewData["Title"]</h1>

<div id="Dicas">
    <hr>
    <div class="text-center">
        <img src="~/homemLaptop.png" style="width:30%;" alt="foto homem no laptop">
    </div>
    <hr>
    <h4 class="text-center" style="background-color:whitesmoke; padding:2%; color:darkblue"><b>Dicas para organização de suas finanças pessoais</b></h4>
    <div style="color:darkblue;background-color:azure;"><b>1. Faça um Orçamento</b></div>
    <li>Elabore uma lista com todos os seus custos fixos, como água, luz, telefone, aluguel etc. Depois calcule qual é a quantia média de todas essas despesas no mês. O valor encontrado é o seu custo de vida.</li>
    <li>É necessário ter claro em mente que esse montante já compromete uma parte da sua renda todo mês e, por isso, é preciso acompanhar sempre suas futuras despesas para garantir que tudo esteja conforme o planejado.</li>
    <li>O valor que sobrar é o que você tem disponível para aplicar em custos variáveis, fazer investimentos ou criar uma reserva financeira.</li>
    <hr>
    <div style="color:darkblue;background-color:azure;"><b>2. Estabeleça metas de economia</b></div>
    <li>A economia não pode ser feita somente com o dinheiro que sobrou no final do mês. Ela deve ser um objetivo, pois assim você não só monitora suas despesas como também passa a ter uma projeção financeira.</li>
    <li>Para isso, você pode determinar um valor mensal para reservar e, ao receber o salário, separar imediatamente essa quantia em um lugar diferente da conta que você usa para os gastos diários.</li>
    <hr>
    <div style="color:darkblue;background-color:azure;"><b>3. Reduza os gastos diários</b></div>
    <li>Defina meta de gastos diários</li>
    <li>Seguro firme seus gastos diários</li>
    <li>Não ultrapasse os valores delimitados</li>
    <li>Caso tenha superado o limite diário, economize no próximo dia</li>

</div>



