@{
    ViewData["Title"] = "Your Money";
}

<img src="~/capa.png" class="rounded mx-auto d-block" style="width: 100%;" alt="Imagem da Logo">
<p class="text-center mt-3 mb-3" style="padding-left: 25px; padding-right: 25px; font-family: calibri; font-size: 1.2rem;">
    Ajudamos a você controlar seu orçamento, equilibrar suas contas e conseguir ter mais liberdade em suas finanças. Com um sistema completo de controle de receitas e despesas, indicadores, gráficos, alertas e várias ferramentas, você conseguirá ter as informações necessárias para realizar um assertivo controle de suas finanças.
</p>
<div class="row align-items-center" style="background-color: whitesmoke;">
    <div class="col-4">
        <img src="~/homemLaptop.png" width="100%">
    </div>
    <div class="col-8 p-5 mb-3" style="font-family: calibri; font-size: 1.2rem;">
        <div style="color:darkblue"><b>Vantagens</b></div>
        Lorem, reiciendis beatae ea doloremque nesciunt aliquam veniam magnam, omnis sed ab iure consequatur placeat.
        <li>Plataforma Web</li>
        <li>Interface de fácil utilização</li>
        <li>Dados salvos em nuvem</li>
        <li>Privacidade e segurança garantidas</li>
        <hr>
        <div style="color:darkblue"><b>Benefícios</b></div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste enim pariatur molestiae impedit, nemo deleniti.
        Modi reiciendis beatae ea doloremque nesciunt aliquam veniam magnam, omnis sed ab iure consequatur placeat.
        <hr>
        <div style="color:darkblue"><b>Funcionalidades</b></div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste enim pariatur molestiae impedit, nemo deleniti.
        Modi reiciendis beatae ea doloremque nesciunt aliquam veniam magnam, omnis sed ab iure consequatur placeat.
    </div>
</div>