@{
    ViewData["Title"] = "Riotree";
}


    <img src="~/Icone.jpg" class="rounded mx-auto d-block" style="width: 30%;">

<div class="row align-items-center">
    <div class="col-4">
        
    </div>
    <div class="col-8 p-5 mb-3" style="font-family: calibri; font-size: 1.2rem;">
      
    </div>
</div>