@{
    ViewData["Title"] = "Riotree";
}

<img src="" class="rounded mx-auto d-block" style="width: 100%;">
<p class="text-center mt-3 mb-3" style="padding-left: 25px; padding-right: 25px; font-family: calibri; font-size: 1.2rem;">
    
</p>
<div class="row align-items-center" style="background-color: whitesmoke;">
    <div class="col-4">
        
    </div>
    <div class="col-8 p-5 mb-3" style="font-family: calibri; font-size: 1.2rem;">
      
    </div>
</div>